@import "src/styles/mixins";
@import "src/styles/variables";

.people {
    @include flexCenter();
    width: 100%;
    background: $main-bg;
}

.people__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: inherit;
    width: 100%;
    padding: 50px 0;

}