@import "src/styles/mixins";

.menu__trigger {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.menu__profile_item {
    @include flexCenter();
    justify-content: flex-start;
    font-size: 16px;
    width: 100%;
}

.menu__profile_account {
    gap: 10px;
    justify-content: center;
    margin: 10px 0 0px;
}

.menu__languages {
    display: flex;
    justify-content: center;
}