@import "src/styles/mixins";
@import "src/styles/variables";

.section {
    width: 100%;
    height: 100%;
}

.section__content {
    background: $form-bg;
    padding: 40px 80px;
    width: 100%;
    min-width: 500px;
    border-radius: 20px;
    margin: 100px 0 150px;
}

.section__content__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;

}