@import "src/styles/mixins";

.peopleList {
    width: 100%;
}

.peopleList__inner {
    @include flexCenter(true);
    padding: 0 100px;
    width: 100%;
}

.peopleList__title {
    font-size: 48px;
    text-align: center;
    line-height: 100%;
    margin-bottom: 40px;
    font-weight: 700;
}

.peopleList__items {
    @include flexCenter(true);
    width: 100%;
    gap: 20px;
}